# System
.DS_Store
Thumbs.db

# Environment Variables (Secrets)
.env
.env.local
.env.*.local
*.env
.env.ade
.env.*


# Data Files (Sensitive Patient Data)
03.db_import/
**/*.sql
**/*.csv
**/*.dump
data/
db_data/
backend/static/documents/*
!backend/static/documents/.gitkeep
analyze_refs.py
import/
*.txt
*.log
_bmad-output
_bmad
/.agent/workflows

# Dependencies
node_modules/
backend/venv/
backend/.venv/

# Python
__pycache__/
*.py[cod]
*$py.class

# Next.js
.next/
out/
build/
dist/

# IDEs
.vscode/
.idea/

# Explicitly excluded folders
non-Git Folder/
scripts/*.sh
nginx/ssl/
backend/scripts/master_seed.py

# Deploy logs
deployment_debian/logs/
